.DS_Store
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
build.gradle
gradle.properties
gradlew
gradlew.bat
bin/main/.gitkeep
bin/main/Calculator.class
bin/test/.gitkeep
bin/main/Operator.class
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
README.md
